.ui.menu.stackable > .item {
  text-transform: uppercase;
  color: white;
}
.ui.menu {
  background-color: #097988;
  font-size: 1.2rem;
  color: white;
}
.ui.menu .item {
  color: white;
}

.ui.menu .item > i.icon {
  margin: 0;
  color: white;
}
.ui .stackable .menu:last-of-type(a) {
  justify-self: flex-end;
}
