.dash__wrapper {
    position: relative;
    height: 91vh;
    width: 100%;
    background: linear-gradient(
        135deg,
        rgb(96, 108, 136) 0%,
        rgb(63, 76, 107) 100%
    );
    margin: 0;
    z-index: 4;
}
.particles__Wrapper {
    z-index: 2;
}
.tittle {
    position: absolute;
    top: 0;
    width: 20%;
    height: 20%;
}
.tittle > h1 {
    color: #cf9c63;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
